{# templates/liste_biens/listeBiens.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Biens{% endblock %}

{% block body %}
    <h1>Liste des Biens Immobiliers</h1>
    <ul>
        {% for bien in lesBiens %}
            <li>{{ bien.propertyName }} - {{ bien.propertyDescription }}</li>
        {% endfor %}
    </ul>
{% endblock %}
