{% extends 'base.html.twig' %}

{% block title %}Accueil Immo{% endblock %}

{% block content %}
<div class="jumbotron text-center" style="background-image: url('img/accueil.jpg'); background-size: cover; padding-top: 50px;">
    <div class="container">
        <h1 class="display-4">Bienvenue sur ImmoCTMF</h1>
        <p class="lead">Votre source de biens immobiliers de qualité.</p>
    </div>
</div>
{% endblock %}
