{% extends 'base.html.twig' %}

{% block title %}Accueil Immo{% endblock %}

{% block body %}
    <div class="jumbotron text-center" style="background-image: url('img/accueil.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; padding-top: 50px; height: calc(100vh - 56px); position: relative;">
        <div class="container">
            <h1 class="display-4">Bienvenue sur ImmoCTMF</h1>
            <p class="lead">Votre source de biens immobiliers de qualité.</p>
        </div>
        <div class="text-center mt-4">
            <button type="card-button" class="btn btn-Light" onclick="window.location.href='{{ path('biens') }}'">Accéder aux annonces</button>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="fixed-bottom text-center">
        <p>Ceci est le footer de votre page.</p>
    </footer>
{% endblock %}
